.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.home-container {
  margin-top: 10px;
  padding: 1%;
  border-radius: 15px;
  background: #e0e5ec;
  box-shadow: 16px 16px 32px #96999e, -16px -16px 32px #ffffff;
}

.home-container a {
  font-weight: bold;
  text-decoration: none;
  color: #f1c863;
}

.masthead {
  padding: 6em;
  height: 450px;
  margin: 10px;
  border-radius: 15px;
  background-image: url('https://ak7.picdn.net/shutterstock/videos/14803987/thumb/6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: inset 5px 5px 13px #b8bcc2, inset -5px -5px 13px #ffffff;
}

.masthead-heading {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.masthead-heading:hover {
  transform: scale(1.2);
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  color: rgba(8, 35, 109, 0.884);
  margin-top: -0.2em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.introduction-section,
.domain-section,
.core-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.introduction-section > p,
.domain-section > p,
.core-section > p,
.questions-section > p {
  font-weight: 400;
  letter-spacing: 0.05em;
  border-radius: 0px;
  padding: 3%;
  background: #e0e5ec;
  box-shadow: inset 5px 5px 13px #b8bcc2, inset -5px -5px 13px #ffffff;
}

.questions-section > h2 {
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

.home-container section > h1 {
  margin-top: 2em;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.content-footer p {
  color: white;
  font-size: medium;
  text-shadow: 2px 2px 4px #000000;
}

.masthead-heading {
  margin-top: -0.2em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.introduction > p,
.domain > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.home-container h2 {
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
}

.introduction-section,
.domain-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.container-footer {
  border-radius: 0px;
  background: #73a8c2;
  box-shadow: inset 10px 10px 20px #42606f, inset -10px -10px 20px #a4f0ff;
}
.content-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 25px 0 10px 0;
  text-align: center;
  text-decoration: none;
}
.socialBtns {
  padding: 1%;
  border-radius: 20px;
  background: #73a8c2;
  box-shadow: inset 10px 10px 20px #42606f, inset -10px -10px 20px #a4f0ff;
}

.social > li {
  display: inline-block;
  margin: 0 5px;
}

.container-footer > p {
  color: #f7ede1;
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }

  .masthead-heading {
    font-size: 3em;
  }

  .content-footer {
    padding: 2em 2.5em;
  }
}
