.booksListcontainer {
  max-width: 100%;
  padding: 1% 5%;
  border-radius: 15px;
  box-shadow: 16px 16px 32px #96999e, -16px -16px 32px #ffffff;
}

img {
  height: 250px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
}

img:hover,
svg:hover {
  cursor: pointer;
}

.img__wrap {
  border-style: ridge;
  border-radius: 0px;
  background: linear-gradient(145deg, #f0f5fd, #caced4);
  box-shadow: 16px 16px 32px #96999e, -5px -5px 10px #ffffff;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(2, 14, 22, 0.274);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}
.bookBtn {
  background: none;
  border: none;
  width: 50%;
  margin: 15px 25%;
  align-self: center;
  text-align: center;
  border-radius: 35px;
  box-shadow: 8px 8px 10px #618fab, -4px -4px 8px #ffffff;
  text-shadow: 4px 4px 6px #000000;
}
.bookBtn:focus {
  border: none;
}
.bookBtn:active {
  top: 0.1em;
  left: 0.1em;
  border: none;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}

/* Modal */
.modalContainer {
  width: 816px;
  max-width: 816px;
  height: 600px;
  display: flex;
  background-color: #e1e6ed;
}

.modalImg {
  width: 480px;
  height: 100%;
}

.modalHeader {
  height: 72px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalComents {
  width: 336px;
  height: 400px;
  line-break: anywhere;
  overflow-y: auto;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}

.modalUserCard {
  display: flex;
  padding: 10px 20px;
}

.modalLikes svg {
  margin: 5px 10px;
}

.modalLikesCount {
  margin: 0 10px;
}

.svgHover {
  margin: 0 5px;
  background-color: white;
}

.imgHover {
  width: 25px;
  height: 25px;
}

.imgHoverLeft {
  margin-right: 20px;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.modalFooter textarea {
  width: 80%;
  height: 35px;
  padding: 2%;
  margin-top: 20px;
  border-width: 0 px;
  border: none;
  resize: none;
  border-radius: 10px;
  background: #e0e5ec;
  box-shadow: inset 11px 11px 22px #94979c, inset -11px -11px 22px #ffffff;
}

.modalFooter textarea:focus {
  outline: none;
}

.postBtn {
  width: 50px;
  height: 35px;
  margin-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(145deg, #f1f6fe, #cbcfd5);
  box-shadow: 10px 10px 46px #808387, -10px -10px 46px #ffffff;
}
.postBtn:active, .postBtn:focus {
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.burgermenu {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.secondModalWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--f23, 255, 255, 255), 1);
}

.secondModalBtn {
  height: 48.4px;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  /* .ant-modal-content {
    width: 250px;
    height: 350px;
  }
  .ant-modal-body {
    width: 250px;
    height: 250px;
  }
  .modalContainer {
    width: 250px;
  }
  .modalImg img {
    width: 250px;
    height: 350px;
  }
  .modalContext {
    width: 250px;
    height: 350px;
  } */
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 680px) {
}
@media screen and (max-width: 560px) {
}
