.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background: #e0e5ec;
  box-shadow: 16px 16px 32px #96999e, -16px -16px 32px #ffffff;
}
.aboutContext {
  width: 200px;
  text-align: center;
  margin-bottom: 1%;
  padding: 1%;
  font-size: x-large;
  border-radius: 10px;
  background: #e0e5ec;
  box-shadow: inset 11px 11px 22px #94979c, inset -11px -11px 22px #ffffff;
}
