.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 1%;
  border-radius: 0px;
  background: #e0e5ec;
  box-shadow: inset 5px 5px 13px #b8bcc2, inset -5px -5px 13px #ffffff;
}

.filterContainer button {
  width: 120px;
  border-radius: 35px;
  background: linear-gradient(145deg, #28c81d, #21a818);
  box-shadow: 8px 8px 10px #177411;
  color: black;
  text-shadow: 4px 4px 6px #000000;
}
.filterContainer button:hover {
  transform: scale(0.8);
}
