.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 1%;
  border-radius: 0px;
  background: #e0e5ec;
  box-shadow: inset 5px 5px 13px #b8bcc2, inset -5px -5px 13px #ffffff;
}

.filterContainer button {
  width: 120px;
  border: none;
  margin: 0 10%;
  align-self: center;
  text-align: center;
  border-radius: 35px;
  background: linear-gradient(145deg, #9be4ff, #83c0e6);
  box-shadow: 8px 8px 10px #618fab, -4px -4px 8px #ffffff;
  color: black;
  text-shadow: 4px 4px 6px #000000;
}

@media screen and (max-width: 680px) {
  .filterContainer button {
    margin: 0 5%;
  }
}
@media screen and (max-width: 560px) {
  .filterContainer {
    display: flex;
    flex-direction: column;
    padding: 3%;
  }
  .filterContainer button {
    margin: 3% 5% 0 5%;
  }
}
