.bookOnShelfContainer {
  display: flex;
  flex-direction: column;
}
.booksOnShelf {
  width: 80px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.deletBtn {
  margin: 0 5px;
}
