.shelvesWrapper {
  width: 100%;
  background-color: #e0e5ec;
  border-radius: 15px;
  box-shadow: 16px 16px 32px #96999e, -16px -16px 32px #ffffff;
}

.shelvesContainer {
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px;
  background: #e0e5ec;
  box-shadow: inset 5px 5px 13px #b8bcc2, inset -5px -5px 13px #ffffff;
}
.shelfBtn {
  align-self: center;
}
.shelfBtn button {
  width: 100px;
  margin: 20px;
  border-radius: 35px;
  /* border: none;   */
  background: linear-gradient(145deg, #9be4ff, #83c0e6);
  box-shadow: 8px 8px 10px #618fab, -4px -4px 8px #ffffff;
  color: black;
  text-shadow: 4px 4px 6px #000000;
}
.shelvesContainer h1 {
  width: 100%;
  padding-bottom: 1%;
  padding-left: 1%;
  text-shadow: 2px 2px 4px #000000;
}
