.headerAppContainer {
  max-width: 100%;
  margin: 0 auto;
  height: 110px;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 16px 16px 32px #96999e, -16px -16px 32px #ffffff;
}

.headerAppContainer nav {
  display: flex;
}

h1,
h3,
ul#menu li {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.headerAppLeft {
  height: 60px;
  padding: 0 1%;
  text-decoration: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #f0f5fd, #caced4);
  box-shadow: 12px 12px 24px #7d8084, -6px -6px 12px #ffffff;
}
.headerAppLeft h1 {
  font-size: 40px;
  cursor: pointer;
}

.headerAppLeft h1:hover {
  color: #40a9ff;
}
.headerAppRight {
  padding: 1% 1% 0 1%;
  border-radius: 30px;
  background: #e0e5ec;
  box-shadow: inset 5px 5px 13px #b8bcc2, inset -5px -5px 13px #ffffff;
}

ul#menu li {
  display: inline;
  font-size: 30px;
  margin: 0 20px;
}

ul#menu a {
  cursor: pointer;
  text-decoration: none;
}

ul#menu a:focus {
  color: gold;
}

/* Checkbox Theme Switcher */
.switcherTheme {
  height: 90%;
}

.switcherTheme input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switcherTheme label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 30px;
  background: #fff;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switcherTheme label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #a9adb3d5;
  border-radius: 20px;
  transition: 0.3s;
  background: linear-gradient(145deg, #d7dce4, #caced4);
  box-shadow: 11px 11px 22px #636568, -11px -11px 22px #ffffff;
}

.switcherTheme label:active:after {
  width: 30px;
}

.switcherTheme input:checked + label {
  background: #91d5ff;
}

.switcherTheme input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

@media screen and (max-width: 991px) {
  .headerAppLeft h1 {
    font-size: 35px;
    padding-top: 2%;
  }
  .headerAppRight a {
    font-size: 25px;
  }
}
@media screen and (max-width: 780px) {
  .headerAppContainer {
    height: 100px;
  }
  .headerAppLeft h1 {
    font-size: 30px;
    padding-top: 4%;
  }
  .headerAppRight a {
    font-size: 20px;
  }
}
@media screen and (max-width: 680px) {
  .headerAppContainer {
    height: 100px;
  }
  .headerAppLeft h1 {
    font-size: 25px;
    padding-top: 6%;
  }
  .headerAppRight a {
    font-size: 15px;
  }
}
@media screen and (max-width: 560px) {
  .headerAppContainer {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerAppLeft {
    margin: 3%;
  }
  .headerAppLeft h1 {
    width: 300px;
    font-size: 25px;
    text-align: center;
  }
  .headerAppRight a {
    font-size: 15px;
  }
}
