body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.appContainer {
  max-width: 1450px;
  margin: auto;
  margin-top: 10px;
}

.homePageContainer {
  max-width: 100%;
  display: flex;
}

$baseHue: 215;
$baseSat: 50%;
$baseLum: 90;
$baseColor: hsl($baseHue, $baseSat, $baseLum);
$bgColor: hsl($baseHue, $baseSat, $baseLum - 2);

button {
  .arrow {
    border-right: 2px solid hsl($baseHue, $baseSat, 80%);
    border-top: 2px solid hsl($baseHue, $baseSat, 80%);
    display: inline-block;
    height: 16px;
    margin-right: 0;
    transform: translateX(-4px) rotate(45deg);
    width: 16px;
  }
}

.button {
  align-items: center;
  background-color: $baseColor;
  border: 3px solid transparent;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1), -3px -3px 3px 3px rgba(247, 251, 255, 0.5),
    3px 3px 8px 2px rgba(0, 0, 0, 0) inset, -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
  color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  height: 48px;
  justify-content: center;
  position: relative;
  -webkit-text-stroke: 1px #7989a4;
  transition: border 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, text-stroke 0.1s ease,
    -webkit-text-stroke 0.1s ease;
  width: 48px;

  &-border {
    background: linear-gradient($baseColor, $baseColor), linear-gradient(135deg, #fff 0%, #b5bec8 100%);
    border: 6px solid transparent;
    border-radius: 14px;
    background-repeat: no-repeat;
    background-origin: padding-box, border-box;

    &::before {
      border: 3px solid $baseColor;
      border-radius: 10px;
      bottom: -3px;
      content: '';
      left: -3px;
      right: -3px;
      position: absolute;
      top: -3px;
    }
  }

  &-round {
    border-radius: 50%;

    &:active {
      box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0), -3px -3px 3px 3px rgba(247, 251, 255, 0),
        3px 3px 8px 2px rgba(0, 0, 0, 0.1) inset, -3px -3px 7px 2px rgba(247, 251, 255, 0.7) inset;
    }
  }

  &-square {
    height: 64px;
    width: 64px;
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;

  input {
    display: none;

    &:checked {
      & + .button {
        border: 3px solid lighten(hsl(210, 50%, 90%), 2);
        box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0), -3px -3px 3px 3px rgba(247, 251, 255, 0),
          3px 3px 8px 2px rgba(0, 0, 0, 0.1) inset, -3px -3px 7px 2px rgba(247, 251, 255, 0.7) inset;
        color: #7989a4;
        -webkit-text-stroke: 1px transparent;
        // text-stroke: 1px transparent;

        &.button-border {
          border: 6px solid transparent;
        }
      }
      + .dot {
        background: linear-gradient(-45deg, rgba(247, 251, 255, 0.4) 20%, rgba(0, 0, 0, 0.2) 100%);
      }
    }
  }
}
///////////////////
